@font-face {font-family: 'Arimo';font-weight:bold;font-style:italic;src: url("xara_font_1.woff?6513") format("woff");}
@font-face {font-family: 'Arimo';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?6513") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xara_font_3.woff?6513") format("woff");}
@font-face {font-family: 'Arimo';font-weight:bold;font-style:normal;src: url("xara_font_4.woff?6513") format("woff");}
@font-face {font-family: 'Arimo';font-weight:normal;font-style:italic;src: url("xara_font_5.woff?6513") format("woff");}
@font-face {font-family: 'Arimo';font-weight:normal;font-style:italic;src: url("xara_font_6.woff?6513") format("woff");}
